---
---

@import "highlighting";

body {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em;
  font: normal medium/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
  color: #2a7ae2;

  &:visited {
    color: #2a7ae2;
  }
}

h1 > a, h2 > a, h3 > a {
  color: black;
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.post {
  p {
    hyphens: auto;
    text-align: justify;
  }

  img {
    box-sizing: border-box;
    max-width: 80%;
    margin: auto;
    display: block;

    &.out-of-flow {
      border: 5px solid #222222;
      border-radius: 4px;
    }
  }

  blockquote {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    background: #2D2D2D;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-style: italic;
    border-radius: 4px;

    p {
      margin: 0;
      text-align: center;
    }
  }
}

pre {
  padding: 8px 12px;
  overflow: auto;
}

code {
  padding: 1px 5px;
  white-space: pre;
}

pre, code {
  font-size: 0.875rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f2f2f2;
  hyphens: none;
}

pre > code {
  border: 0;
  padding: 0;
}

figure {
  margin-left: 40px;
  margin-right: 40px;
}

.run-code {
  margin: -12px 40px 0 40px;

  a {
    text-decoration: none;

     &:hover {
       text-decoration: underline;
     }
  }
}

table {
  border-collapse: collapse;
  margin: 24px auto;

  th, td {
    border: 1px solid black;
    padding: 2px 5px;
  }
}

.posts-list {
  padding: 0;

  li {
    display: block;
  }
}

.references {
  &.bibliography li {
    display: block;

    &:target {
      background: #f2f2f2;
      border-radius: 3px;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
